<div class="card">

<p id="notice"><%= notice %></p>

<h2><%= @club.full_name %></h2>

<p>
  <strong>Contact Email Address:</strong>
  <%= @club.email %>
</p>

<% if (@club.website != nil) %>
<p>
  <strong>Website:</strong>
  <a href="<%= @club.website %>"><%= @club.website %> </a>
</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @club.count_likes(@club.id) %>
</p>

<br />

<div class="card">
  <h3>Upcoming Events</h3>

  <table class="table table-striped">
    <col width=20%>
    <col width=70%>
    <col width=10%>
    <tr>
      <td><strong>Event Name</strong></td>
      <td><strong>Event Description</strong></td>
      <td><strong>Date/Time</strong></td>
    </tr>

    <% @events.each do |event| %>
      <tr>
      <td><%= link_to event do %><%= event.name %><% end %></td>
      <td><%= link_to event do %><%=event.description %><% end %></td>
      <td><%= event.when.strftime("%d/%m/%y %l:%M %p") %></td>
      </tr>
    <% end %>

  </table>
</div>
<br />
<div class="btn-group">
<%= link_to raw("<i class=\"glyphicon glyphicon-arrow-left\"> Back</i>"),
    events_path,
    class: "btn btn-inverse"%>
  <% if club_signed_in? and (@club.id == current_club.id) %>
  <%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"> Edit</i>"), edit_club_registration_path, class: "btn btn-inverse" %>
  <% end %>

	<% if student_signed_in? %>
		<% if !current_student.return_likes_club(current_student.id, @club.id) %>
			<%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Like </i>"), clubs_students_path(:club_id => @club.id), :method => :post, :class => "btn btn-inverse"%>
	  	<% else %>
	  		<% like = current_student.clubs.where(:id => @club.id) %>
			<%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Liked </i>"), 
	  			clubs_student_path(:club_id => @club.id), :method => :delete, :class => "btn btn-inverse-toggled"%>

	  	<% end %>
  	<% end %>
</div>

</div>

