<div class="card">

<p id="notice"><%= notice %></p>

<h2><%= @club.full_name %></h2>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<br />

<div class="btn-group">
<%= link_to raw("<i class=\"glyphicon glyphicon-arrow-left\"> Back</i>"),
    :back,
    class: "btn btn-inverse"%>
  <% if student_signed_in? %>        
    <!-- Like Button Goes here -->
  <% end %>
  <% if (@club.id == current_club.id) %>
  <%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"> Edit</i>"), edit_club_registration_path, class: "btn btn-inverse" %>
  <% end %>
</div>

</div>