<% if club_signed_in? %>

<div class="card">
You must <%= link_to "Log Out", destroy_club_session_path, class: 'navbar-link', method: :delete %> of club account <%= current_club.full_name %> before you can log in as a student.
</div>

<% else %>

<div class="card">

<h2>Student Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "students/shared/links" %>

<%= link_to "Club Log In", new_club_session_path%>

</div>

<% end %>