<% if student_signed_in? %>
<% if current_student.admin %>
<div class="card">

<h2>Club Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %></div>  

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "clubs/shared/links" %>

</div>
<% else %>
	Your account doesn't have the administrator rights. Please <%= link_to "Log Out", destroy_student_session_path, class: 'navbar-link', method: :delete %> and login with an account with Administrator right
<% end %>
<% else %>
	You have to login as administrator in order to sign_up a club, click on the below page to login <br />
	<a href="/students/sign_in">Administrator Login in</a>
<% end %>