<div align="center"> 
  <h1>Clubs you like</h1>
</div>

<div class="row">
<% @clubs.each do |club| %>
    <div class="col-sm-3">
      <%= link_to profile_path(club) do %>
      <div class="card-small-wrap" align="center"> 
        <p> 
          <%= club.name %><br />
          <%= club.website %> <br />
          <%= club.description %> <br />
          <!--Likes: <%= club.count_likes(club.id) %>-->
        </p>
      </div>
      <% end %>
    </div>
<% end %>
</div>
