<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5, resize: "none" %>
  </div>
  <div class="field">
    <%= f.label :when %><br>
    <%= f.datetime_local_field :when %>
  </div>
  <div class="field">
    <%= f.label "Number of tickets" %><i> (leave blank for unlimited capacity events)</i><br />
    <%= f.number_field :maxTickets %>
  </div>
  <div class="field">
    <%= f.label "Ticket Price" %><i> (leave blank for free events)</i><br />
    <%= f.number_field :ticketPrice %>
  </div>
  <div class="field">
    <%= f.label "Member Discount" %><i> (leave blank for no discount)</i><br />
    <%= f.number_field :memberDiscount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


