<% if student_signed_in? or club_signed_in? %>

<div align="center"> <h1>Listing events</h1> <br /> </div>

<div class="row">
<% @events.each do |event| %>
    <div class="col-md-3">
      <%= link_to event do %>
      <div class="card-small" align="center"> 
        <p> 
          <%= event.name %> <br />
          <%= event.when %> <br />
          Event Location <br />
        </p>
      </div>
      <% end %>
    </div>
<% end %>
</div>

<% else %>

<div class="jumbotron">
  <h1>Welcome to ClubBiz!</h1>
  <p>ClubBiz is the best way to discover events around Uni. From BBQs to parties, guest lectures to rallies, or any other kind of Club event, this is the place to hear about it.</p>
  <p>
  <%= link_to "Log In", new_student_session_path, class: 'btn btn-inverse btn-lg', role: "button" %>
  <%= link_to "Sign Up Today!", new_student_registration_path, class: 'btn btn-inverse btn-lg', role: "button" %>
  </p>
</div>

<% end %> 
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>When</th>
      <th>Maxtickets</th>
      <th>Ticketprice</th>
      <th>Memberdiscount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.when %></td>
        <td><%= event.maxTickets %></td>
        <td><%= event.ticketPrice %></td>
        <td><%= event.memberDiscount %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

-->
<br>

<% if club_signed_in? %>

<%= link_to new_event_path do %>
<div class="card-small" align="center">
<h4>New Event </h4>
</div>
<% end %>

<% end %>