<% if student_signed_in? or club_signed_in? %>
<!-- <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
<!-- <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script> -->
<div align="center"> 
	<h1>Listing events</h1>
</div>

<div class="row" align="center">
  <div class="btn-group">
    <a href='events?date_range=day' class="btn btn-inverse">Today</a>
    <a href='events?date_range=week' class="btn btn-inverse">This Week</a> 
    <a href='events?date_range=month' class="btn btn-inverse">This Month</a>
    <a href='events?date_range=year' class="btn btn-inverse">This Year</a>
  </div>
  <p />
</div>

<div style="display=inline"; clear:both; align="center">
  <form id="event_dates" post='events'>
    From <input name="date_from" value="<%=@date_from%>" id="date_from"></input>
    To <input name="date_to" value="<%=@date_to%>" id="date_to"></input>
    <button onclick="document.getElementById("event_dates").submit()">Search</button>
  </form>
  <script>
  	function addZeros(num_string, len) {
  		console.log(num_string)
  		for (var i = 0; i < len - num_string.length(); i++) {
  			num_string = "0" + num_string;
  		}
  		return num_string;
  	}
  	
  	$(document).ready(function() {
  		$("#date_to").datepicker({dateFormat: "yy-mm-dd 00:00:00"});
  		$("#date_from").datepicker({dateFormat: "yy-mm-dd 00:00:00"});
  	});
  </script>
</div>


<!--
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
-->

<div class="row">
<% @events.each do |event| %>
    <div class="col-sm-3">
      <%= link_to event do %>
      <div class="card-small" align="center"> 
        <p> 
          <%= event.name %> <br />
          <%= Club.find(event.club_id).full_name %> <br />
          <%= event.when %> <br />
          Event Location <br />
        </p>
      </div>
      <% end %>
    </div>
<% end %>
</div>

<% else %>

<div class="jumbotron">
  <h1>Welcome to ClubBiz!</h1>
  <p>ClubBiz is the best way to discover events around Uni. From BBQs to parties, guest lectures to rallies, or any other kind of Club event, this is the place to hear about it.</p>
  <p>
  <%= link_to "Log In", new_student_session_path, class: 'btn btn-inverse btn-lg', role: "button" %>
  <%= link_to "Sign Up Today!", new_student_registration_path, class: 'btn btn-inverse btn-lg', role: "button" %>
  </p>
</div>

<% end %> 

<br>

<% if club_signed_in? %>

<%= link_to new_event_path do %>
<div class="card-small" align="center">
<h4>New Event </h4>
</div>
<% end %>

<% end %>