<div class="card">

<p id="notice"><%= notice %></p>

<p>
  <%= link_to profile_path(@event.club_id) do %>
  
    <strong>Club:</strong>
    <%= Club.find(@event.club_id).full_name %>

  <% end %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.when.strftime("%d/%m/%y %l:%M %p") %>
</p>

<p>
  <strong>Where:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @event.count_likes(@event.id) %>
</p>

<p>
  <strong>Reservations:</strong>
  <%= @event.count_reservations(@event.id) %>
</p>

<% if (@event.maxTickets != nil and @event.maxTickets >= 0) %>
<p>
  <strong>Number of tickets:</strong>
  <%= @event.maxTickets %>
</p>
<% end %>

<% if club_signed_in? and (@event.club_id == current_club.id) and (@event.maxTickets != nil and @event.maxTickets >= 0) %>
  <p>
    <strong>Tickets reserved:</strong>
    <%= @event.tickets_allocated %>
  </p>

  <p>
    <strong>Tickets remaining:</strong>
    <%= @event.maxTickets - @event.tickets_allocated %>
  </p>
<% end %>        

<% if (@event.ticketPrice != nil and @event.ticketPrice >= 0) %>
<p>
  <strong>Ticket Price:</strong>
  $<%= @event.ticketPrice %>
</p>
<% else %>
<p>
  <strong>Cost:</strong>
  Free
</p>
<% end %>


<% if (@event.ticketPrice != nil and @event.ticketPrice >= 0 and @event.memberDiscount != nil and @event.memberDiscount >= 0) %>
<p>
  <strong>Price for members:</strong>
  $<%= @event.ticketPrice-@event.memberDiscount %>
</p>
<% end %>

<p> 

<div class="btn-group">
  <%= link_to raw("<i class=\"glyphicon glyphicon-arrow-left\"> Back</i>"), 
      events_path, 
      class: "btn btn-inverse"%>
  <% if club_signed_in? and (@event.club_id == current_club.id) %>        
  <%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"> Edit</i>"), 
          edit_event_path(@event), 
          class: "btn btn-inverse",
          method: :get %>    
  <%= link_to raw("<i class=\"glyphicon glyphicon-remove\"> Delete</i>"), 
          @event, 
          class: "btn btn-inverse",
          method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %>        
  <% end %>
  <% if student_signed_in? %>
    <% if !current_student.return_likes_event(current_student.id, @event.id) %>
      <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Like </i>"), events_students_path(:event_id => @event.id), :method => :post, :class => "btn btn-inverse"%>
    <% else %>
        <% like = current_student.events.where(:id => @event.id) %>
      <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Liked </i>"), 
          events_student_path(:event_id => @event.id), :method => :delete, :class => "btn btn-inverse-toggled"%>

    <% end %>
	
	<% if !current_student.return_has_reservation(current_student.id, @event.id) %>
      <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Reserve </i>"), reservations_path(:event_id => @event.id, :student_id => current_student.id), :method => :post, :class => "btn btn-inverse"%>
	
	<% else %>
	<% @reservation = current_student.reservations.where(:event_id => @event.id)[ 0 ] %>
      <%= link_to raw("<i class=\"glyphicon glyphicon-thumbs-up\"> Reserved </i>"), 
          reservation_path(:id => @reservation.id), :method => :delete, :class => "btn btn-inverse-toggled"%>

    <% end %>
	  
  <% end %>
</div>

</div>

<br />

<div class="card">
  <h3>Comments</h3>

  <table class="table table-striped">
    <col width=20%>
    <col width=70%>
    <col width=10%>
    <tr>
      <td><strong>Student</strong></td>
      <td><strong>Comment</strong></td>
      <td><strong>Date/Time</strong></td>
    </tr>

    <% @comments.each do |comment| %>
    <tr>
      <td><%= Student.find(comment.student_id).full_name %></td>
      <td><%= comment.content %></td>
      <td><%= comment.updated_at.strftime("%d/%m/%y %l:%M %p") %></td>
    </tr>
    <% end %>

  </table>

</div>
